* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  list-style: none;
  width: 100%;
}

.pokedex {
  background: linear-gradient(145deg, #d32f2f, #b71c1c);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 4px 4px 10px #7f0000 inset, -4px -4px 10px #ff5353 inset;
  max-width: 600px;
  margin: 40px auto;
  border: 6px solid #7f0000;
}

.pokedex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 15px;
  background: #b71c1c;
  border-radius: 8px;
  box-shadow: inset 0 -4px 5px #7f0000;
}

.pokedex-header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.8rem;
}

.search-container {
  background-color: #0288D1;
  padding: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 20px;
  text-align: center;
}

body {
  background-color: #D32F2F;
  color: #FFFFFF;
}

.button {
  background: linear-gradient(145deg, #ff0000, #b30000);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 6px #7f0000 inset;
  border: 2px solid #7f0000;
  padding: 12px;
  width: 100%;
  text-transform: capitalize;
  transition: background 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(145deg, #ff4444, #cc0000);
  box-shadow: 3px 3px 8px #ff6666 inset;
}

button:hover {
  filter: brightness(75%);
  border: black solid;
  border-radius: 4px;
}

button:active {
  filter: brightness(85%);
  border: none;
}

.button::first-letter {
  text-transform: capitalize;
}

#pokemon-search {
  width: 100%;
  /* max-width: 350px; */
  padding: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 1rem;
  background: #ffe;
  color: #222;
}

.modal-content {
  background: #222;
  color: #eee;
  border-radius: 15px;
  border: 5px solid #b71c1c;
  font-family: 'Arial Black', Arial, sans-serif;
}

.modal-header, .modal-footer {
  border: none;
  background: #b71c1c;
  color: #ffff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px 10px 0 0;
}

.modal-footer {
  border-radius: 0 0 10px 10px;
}

.modal-img {
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

.pokemon-list .list-group-item {
  background: transparent;
  border: none;
  padding: 1%;
  margin-bottom: 10px;
}

.pokemon-types,
.pokemon-abilities {
  text-transform: capitalize;
}

.pokemon-id {
  border-top: 5px solid white;
  width: 100%;
  padding-top: 4%;
}

.modal-content {
  border: 10px solid white;
}

span {
  color: white;
  background-color: black;
  border-radius: 10%;
}

.modal h1 {
  margin-top: 0;
}

.modal h1:first-letter {
  text-transform: capitalize;
}

.modal p {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

