* {
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}


.button {
    background-color: lightgray;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    padding: 16px 32px;
    margin: 4px -4%;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

